*~
#*
*.log
*.o
*.a
*.so
config.status
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
autom4te.cache
*.txt
bin/
lib/
obj/
config/
alire/
doc/ayacc_user_man.aux
doc/ayacc_user_man.lof
doc/ayacc_user_man.pdf
doc/ayacc_user_man.toc
